@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#wrap {
  min-width: 1280px;
}
.topnavbg {
  width: 100%;
  background: #191d24;
}
.topnav {
  width: 1280px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.logo {
  width: 80%;
  height: 100%;
}
#logo > img {
  width: 152px;
  position: relative;
}
.game_series {
  width: 545px;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 40px;
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}
.box {
  top: 40px;
  height: 460px;
}
.gamelist {
  display: flex;
  width: 100%;
  height: 460px;
  position: relative;
}
.gamelist ul {
  width: 480px;
  background: #191d24;
}
.xbtn {
  width: 65px;
  height: 65px;
  background: #191d24;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

.xbtn > img {
  width: 80%;
  padding-top: 7px;
}
.gamelist ul > li {
  width: 100%;
  height: 150px;
  border-top: 1px solid#aeaeb3;
}

.gamelist ul > li > a {
  display: flex;
  color: #aeaeb3;
  font-size: 15px;
  padding: 10px;
}

.gamelist ul > li > a img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin: 10px;
}

.game_info > h1 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  margin-top: 5px;
}
.game_info > p {
  width: 120px;
  height: 40px;
  background: #ffd71e;
  border-radius: 20px;
  color: #191d24;
  text-align: center;
  font-weight: 800;
}
.topnav_right {
  width: 28%;
  color: #aeaeb3;
  font-size: 14px;
  display: flex;
}
.gamelist ul li span {
  font-size: 15px;
}
.topnav_right > a {
  width: 40%;
  color: #aeaeb3;
  text-align: center;
}

.language {
  width: 40%;
  text-align: center;
  position: relative;
  background: #191d24;
  color: #aeaeb3;
}
.language p::after {
  content: "▼";
  position: absolute;
  right: 15px;
  top: 0;
}
.language p.active::after {
  content: "▲";
  opacity: 1;
}
.language_list {
  width: 100%;
  display: none;
  background: #191d24;
  overflow: hidden;
}
.languagepage li > a {
  display: block;
  color: #aeaeb3;
  font-size: 14px;
}
.languagepage li:hover > a {
  background: #ccc;
  color: black;
}

.game_video {
  height: 100vh;
}
.game_video video {
  height: 100%;
  object-fit: cover;
}
.main_top {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 40px;
}

.menubar_position {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.menubar {
  width: 100%;
  height: 77px;
  position: fixed;
  top: 40px;
  background: #000000b3;
}
.menubar_align {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.menubar_left {
  width: 18%;
}
.menubar_right {
  width: 75%;
}
.menubar_right ul {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.menubar_right ul li a {
  display: inline-block;
  line-height: 77px;
  font-size: 18px;
  color: #fff;
  font-weight: 800;
}
.main_geme {
  width: 100%;
  height: 966px;
  overflow: hidden;
  background: #191d24;
}
.main_logo {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.main_logo img {
  width: 370px;
  object-fit: cover;
  margin: 100px auto;
}
.main_centersvg {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.main_centersvg img {
  width: 148px;
  margin: 40px auto;
}
.store {
  width: 980px;
  margin: 30px auto;
  display: flex;
}
.store li {
  width: 25%;
}
.scroll {
  width: 100%;
  margin: 70px auto;
  text-align: center;
  animation: bounce 1.5s infinite ease-in;
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

aside.navercafe {
  position: fixed;
  right: 150px;
  top: 150px;
  z-index: 1;
}
aside.navercafe img {
  width: 83px;
}
.game_introduce {
  width: 100%;
  margin: 0 auto;
}
.information1 {
  width: 100%;
  background: #302a24;
}
.intro_top {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.intro_top_img {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.intro_top_img > li:first-child img,
.intro_top_img > li:last-child img {
  width: 178px;
}
.intro_top_img > li:nth-child(2) img {
  width: 70px;
  height: 40px;
}
.intro_top_img > li:last-child img {
  transform: scalex(-1);
}
.intro_top > span {
  font-size: 30px;
  color: #c59771;
}
.intro_top > h1 {
  font-size: 60px;
  color: #c59771;
}
.cookie_intro {
  width: 960px;
  height: 66px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.cookie_intro > div {
  width: 136px;
  height: 66px;
  margin: 0 auto;
  position: relative;
}

.cookie_intro div > span {
  position: relative;
  display: block;
  width: 108px;
  line-height: 66px;
  height: 66px;
  font-size: 21px;
  color: #c18243;
  background: url(../images/parentheses_center.svg) no-repeat;
}
.cookie_intro div > span::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 66px;
  left: -14px;
  top: 0;
  background: url(../images/parentheses_side.svg) no-repeat;
}
.cookie_intro div > span::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 66px;
  right: -14px;
  top: 0;
  background: url(../images/parentheses_side.svg) no-repeat;
  transform: scaleX(-1);
}
.cookie_intro > div > p {
  position: absolute;
  left: -8px;
  top: 6px;
  width: 124px;
  height: 54px;
}
.cookie_intro div:hover > span {
  color: #fff;
  font-weight: 800;
}
.cookie_intro div:hover > p {
  background: #493220;
}
.cookie_img {
  width: 960px;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.arrow_img {
  width: 52px;
  line-height: 530px;
}
.arrow_img > img {
  width: 52px;
  height: 80px;
}
.twist {
  transform: scaleX(-1);
}
.cookie_intro_frame {
  width: 800px;
  position: relative;
}
.cookie_intro_frame > ul {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.cookie_intro_frame > ul li {
  width: 100%;
  position: absolute;
  left: 0;
  top: 5px;
}
.cookie_intro_frame > ul li img {
  width: 95%;
  height: 485px;
  line-height: 485px;
}
.cookie_intro_frame .frame {
  position: absolute;
  left: 0;
  top: 0;
}
.cookie_intro_frame .frame img {
  width: 100%;
}
.stud {
  width: 1280px;
  height: 50px;
  margin: 0 auto;
}

.stud ul {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.stud ul li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #c08d55;
}
