@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #184965;
  text-transform: uppercase;
}

.head {
  width: 90%;
  margin: 0px auto;
  border-bottom: 10px solid#5ba7d5;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 150px;
}
.head .logo > img {
  width: 150px;
}
.head ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.head ul li a {
  font-size: 32px;
  font-weight: 800;
  line-height: 90px;
  color: #62b6cc;
}
.head ul li:hover a {
  color: #c1e4e7;
}
